<a href="https://colab.research.google.com/github/AZHARTHEGEEK/AI-DATA-SCIENCE-WORK/blob/main/AI_%26_DATA_SCIENCE_WORK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("check")

check

# List Comprension

In [ ]:
b=[2,3,4,5,6]
s=[int ((a**2)/2) for a in b]

print(s)

[2, 4, 8, 12, 18]

In [ ]:
print([f"even number is {a} " if a%2 == 0 else f"even number is {a} "  for a in range(12)])

['even number is 0 ', 'even number is 1 ', 'even number is 2 ', 'even number is 3 ', 'even number is 4 ', 'even number is 5 ', 'even number is 6 ', 'even number is 7 ', 'even number is 8 ', 'even number is 9 ', 'even number is 10 ', 'even number is 11 ']

In [ ]:
a =[10,12,14,15,18,11]
sorted(a)

[10, 11, 12, 14, 15, 18]

# Functions

In [ ]:
#Function Defination
def call():
  name =input("Tell me your Name ")
  gender =input("Enter Your Gender ")
  if gender == "male" or "Male" or "M" or "m":
    print(f"Welcome Mr.{ name}")
  else:
    print(f"Welcome Miss.{ name}")

In [ ]:
#Function Call
call()

Tell me your Name Muhammad Azhar
Enter Your Gender Male
Welcome Mr.Muhammad Azhar

In [ ]:
def usernumber():
  Number = int(input("Enter Any Number"))
  if Number%2 == 0:
    print("Number is Even")
  else:
    print("Number is Odd")

In [ ]:
usernumber()

Enter Any Number2
Number is Even

In [ ]:
def usernumber():
  asd =True
  while(asd):
    print("Enter Quit to Exit")
    Number = input("Enter Any Number")
    if Number.lower()=="quit":
      print("Thank you For Using Our Servive")
      asd = False
      break
    elif int(Number)%2 == 0:
      print("Number is Even")
    else:
      print("Number is Odd")

In [ ]:
usernumber()

Enter Quit to Exit
Enter Any Number2
Number is Even
Enter Quit to Exit
Enter Any Number3
Number is Odd
Enter Quit to Exit
Enter Any Numberquit
Thank you For Using Our Servive

In [ ]:
for num in range(2000,3201):
  if num%7==0:
    if num%5!=0:
      print(num,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [ ]:
n = int(input("Enter the Number of Loops"))
newdic={}
for number in range(1,n+1):
  newdic[number]=number^number
print(newdic)

Enter the Number of Loops8
{1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0}

In [ ]:
 def adding():
   num1 =int(input())
   num2 =int(input())

   return num1+ num2

In [ ]:
adding()

5
5

10

In [ ]:
#From Book Page 1266
responses = {}
polling_active = True
while polling_active:
  name = input("\nWhat is your name? ")
  response = input("Which mountain would you like to climb someday? ")
  responses[name] = response
  
  repeat = input("Would you like to let another person respond? (yes/ no) ")
  if repeat == 'no':
    polling_active = False

  print("\n--- Poll Results ---")
  for name, response in responses.items():
    print(f"{name} would like to climb {response}.")

What is your name? Azhar
Which mountain would you like to climb someday? k2
Would you like to let another person respond? (yes/ no) no

--- Poll Results ---
Azhar would like to climb k2.

## DOC STRING for citation

In [ ]:
def subtracting():
  num1 = input("Enter First Number to Sub")
  num2 = input("Enter Second Number to Sub")
  return num1 - num2

In [ ]:
def subtracting_u_para(a,b):
  return a-b

In [ ]:
userdata ={}
def datacllection():
    name = input("\nWhat is your name? ")
    age = input("What is your Age? ")
    userdata[name] = age

In [ ]:
def abc(x,y,z):
  print(x,y,z)
#Positional Arguments and defined/keyword arguments 
#default parameter/ Argument

In [ ]:
abc(21,41,z=45)

21 41 45

In [ ]:
def abc():
  print("Hello")

In [ ]:
#From Book Page 1377
def make_shirt():
  v1 =input("Enter The Size of the Shirt : ")
  v2=input("Enter The Message Which You want to print on the Shirt : ")
  print(f"The size of Shirt is {v1} and on which the message is {v2} .")

In [ ]:
make_shirt()

Enter The Size of the Shirt : 25
Enter The Message Which You want to print on the Shirt : Peace is Needed
The size of Shirt is 25 and on which the message is Peace is Needed

In [ ]:
def make_shirt(v1="None",v2="None"):
  print(f"The size of Shirt is {v1} and on which the message is {v2} .")

In [ ]:
v1 =input("Enter The Size of the Shirt : ")
v2=input("Enter The Message Which You want to print on the Shirt : ")
make_shirt(v1,v2)

Enter The Size of the Shirt : 45
Enter The Message Which You want to print on the Shirt : Peace
The size of Shirt is 45 and on which the message is Peace .

In [ ]:
make_shirt()

The size of Shirt is None and on which the message is None .

In [ ]:
def make_shirt(v1="Large",v2=" I Love Python"):
  print(f"The size of Shirt is {v1} and on which the message is {v2} .")

In [ ]:
make_shirt()

The size of Shirt is Large and on which the message is  I Love Python .

In [ ]:
def describe_city():
  name =input("What is Your Name ? :")
  city =input("What is Your City Name ? ")  
  country = input("What is Your Country Name ? ")

In [ ]:
def build_person(first_name, last_name):
  """Return a dictionary of information about a person."""
  person = {'first': first_name, 'last': last_name}

musician = build_person('jimi', 'hendrix')
print(musician)

None

In [ ]:
def build_person(first_name, last_name, age=None):
  """Return a dictionary of information about a person."""
  person = {'first': first_name, 'last': last_name}
  if age:
    person['age'] = age
  return person
musician = build_person('jimi', 'hendrix', age=27)
print(musician)

{'first': 'jimi', 'last': 'hendrix', 'age': 27}

In [ ]:
def largeestvale():
  nums=[]
  for a in range(5):
    num1 = input("Enter the Number")
    nums.append(num1)
  return max(nums)

In [ ]:
def largeestvale1():
  return max([int(input(" Enter The Number") for i in range(5))])

In [ ]:
def largeestvale2():
  num = [input("Enter the Comma Separated Number").split(",")]
  return max([int(i)for i in num ])

In [ ]:
 largeestvale2()

In [ ]:
artistnameandalbumtitle ={}
def make_album():
  v1=input("Enter The ALBUM NAME : ")
  v2=input("Enter The Album Title :")
  artistnameandalbumtitle[v1]=v2
  return artistnameandalbumtitle
  #print(artistnameandalbumtitle)

In [ ]:
make_album()

Enter The ALBUM NAMEAzhar
Enter The Album TitleAzhar

{'Azhar': 'Azhar'}

In [ ]:
artistnameandalbumtitle ={}
def make_album2(Tracks=""):
  flag = True
  while(flag):
    a1=input("Enter The ALBUM NAME : ")
    a2=input("Enter The Album Title :")
    artistnameandalbumtitle= {"Artist Name":a1,"Album Title":a2}
    if Tracks:
      artistnameandalbumtitle["Tracks"]= Tracks
    v3 = input("Do You Want to Continue ? Y to Yes N to No")
    if v3 == "n" or v3=="N":
      flag =False
      break
  return artistnameandalbumtitle
  #8-8. User Albums UN-COMPLETE

In [ ]:
make_album2()

Enter The ALBUM NAME : j
Enter The Album Title :j
Do You Want to Continue ? Y to Yes N to Noy
Enter The ALBUM NAME : h
Enter The Album Title :
Do You Want to Continue ? Y to Yes N to Noh
Enter The ALBUM NAME : h
Enter The Album Title :h
Do You Want to Continue ? Y to Yes N to Non

{'Album Title': 'h', 'Artist Name': 'h'}

In [ ]:
def salarycalc(basic_salary):
  tax_ded =0
  if basic_salary < 30000:
    tax_ded =0
  elif basic_salary >= 30000 and basic_salary < 50000:
    tax_ded =5
  elif basic_salary >=50000 and basic_salary<100000:
    tax_ded =10
  else:
    tax_ded =15
  tot_ded =basic_salary*tax_ded/100
  gross_salary = basic_salary - tot_ded
  return gross_salary

In [ ]:
basic_salary = int(input("\n Enter the Basic Salary of the Employee "))
print(f" The Gross Salary is {salarycalc(basic_salary)} .")

 Enter the Basic Salary of the Employee 15000000
 The Gross Salary is 12750000.0 .

# Class 1/30/2021

In [ ]:
class Dog():
  #Charwcteristics/ Attributes/ Properties >>>>>> Variables
  def __init__(self,name,age,breed,colour): #"__"=Dunder
    self.name = name
    self.age=age
    self.breed=breed
    self.colour=colour
    print("Dog Created")
  #Behaviours/actions >>>>>Method/ Functions
  #Class inside Class
  def bark():
    pass
  def walk():
    pass
  def rollover():
    pass

In [ ]:
dog1 = Dog("Tiger",16,"GALLOWN","Black and White")

Dog Created

In [ ]:
dog1.name

'Tiger'

In [ ]:
dog1.age

16

In [ ]:
dog1.breed

'GALLOWN'

In [ ]:
dog1.colour

'Black and White'

In [ ]:
class Human():
  #Charwcteristics/ Attributes/ Properties >>>>>> Variables
  def __init__(self,name,age,gender,hight): #"__"=Dunder
    self.name = name
    self.age=age
    self.gender=gender
    self.hight=hight
    print("Record Saved")
  #Behaviours/actions >>>>>Method/ Functions
  #Class inside Class
  def think(self):
    print(f"{self.name} is Thinking")
  def walk(self):
    print(f"{self.name} Can Walk")
  def cry():
    print(f"{self.name} is Crying")
  def record(self):
    print(f"NAME : {self.name}")
    print(f"AGE : {self.age} ")
    print(f"GENDDER : {self.gender}")
    print(f"HIGGHT : {self.hight}")

In [ ]:
HUMANRECORD = Human("MEHAR",21,"MALE",6.5)

Record Saved

In [ ]:
Human.record(HUMANRECORD)

NAME : MEHAR
AGE : 21
GENDDER : MALE
HIGGHT : 6.5

In [ ]:
class Student():
  #Charwcteristics/ Attributes/ Properties >>>>>> Variables
  def __init__(self,name,age,id,gender,hight): #"__"=Dunder
    self.name = name
    self.age=age
    self.gender=gender
    self.id=id
    self.hight=hight
    print("Record Saved")
  #Behaviours/actions >>>>>Method/ Functions
  #Class inside Class
  def think(self):
    print(f"{self.name} is Thinking")
  def walk(self):
    print(f"{self.name} Can Walk")
  def record(self):
    print("This Is The Record of tthe Student:")
    print(f"NAME : {self.name}")
    print(f"AGE : {self.age} ")
    print(f"ID : {self.id}")
    print(f"GENDDER : {self.gender}")
    print(f"HIGGHT : {self.hight}")

In [ ]:
student1 =Student("Muhammad Azhar",19,"CSC19F069","MALE",5.5)

Record Saved

In [ ]:
Student.record(student1)

This Is The Record of tthe Student:
NAME : Muhammad Azhar
AGE : 19
ID : CSC19F069
GENDDER : MALE
HIGGHT : 5.5

In [ ]:
class Emplyee():
  #Charwcteristics/ Attributes/ Properties >>>>>> Variables
  def __init__(self,name,age,id,gender,hight,sallery): #"__"=Dunder
    self.name = name
    self.age=age
    self.gender=gender
    self.id=id
    self.hight=hight
    self.sallery=sallery
    print("Record Saved")
  #Behaviours/actions >>>>>Method/ Functions
  #Class inside Class
  def think(self):
    print(f"{self.name} is Thinking")
  def walk(self):
    print(f"{self.name} Can Walk")
  def record(self):
    print("This Is The Record of tthe Employee:")
    print(f"NAME : {self.name}")
    print(f"AGE : {self.age} ")
    print(f"ID : {self.id}")
    print(f"GENDDER : {self.gender}")
    print(f"HIGGHT : {self.hight}")
    print(f"Sallery of {self.name} is {self.sallery}")

In [ ]:
employee1=Emplyee("Muhammad Azhar",19,"ASD56","MALE",5.5,"5K$")

Record Saved

In [ ]:
Emplyee.record(employee1)

This Is The Record of tthe Employee:
NAME : Muhammad Azhar
AGE : 19
ID : ASD56
GENDDER : MALE
HIGGHT : 5.5
Sallery of Muhammad Azhar is 5K$

# ENCAPSULATION

In [ ]:
class Emplyee():
  #Charwcteristics/ Attributes/ Properties >>>>>> Variables
  def __init__(self,name,age,id,gender,hight): #"__"=Dunder
    self.name = name
    self.age=age
    self.gender=gender
    self.id=id
    self.hight=hight
    self.employee_sallery=0
    
    print("Record Saved")
  #Behaviours/actions >>>>>Method/ Functions
  #Class inside Class
  #eNCAPSULATION
  def get_sallery(self,sallery):    #Get Sallery
    self.employee_sallery=sallery
  def think(self):
    print(f"{self.name} is Thinking")
  def walk(self):
    print(f"{self.name} Can Walk")
  def record(self):
    print("This Is The Record of tthe Employee:")
    print(f"NAME : {self.name}")
    print(f"AGE : {self.age} ")
    print(f"ID : {self.id}")
    print(f"GENDDER : {self.gender}")
    print(f"HIGGHT : {self.hight}")
    print(f"Sallery of {self.name} is {self.employee_sallery}")

In [ ]:
employee2=Emplyee("Muhammad Azhar",19,"ASD56","MALE",5.5)

Record Saved

In [ ]:
Emplyee.record(employee2)

This Is The Record of tthe Employee:
NAME : Muhammad Azhar
AGE : 19
ID : ASD56
GENDDER : MALE
HIGGHT : 5.5
Sallery of Muhammad Azhar is 0

In [ ]:
employee2.get_sallery(150000)

In [ ]:
Emplyee.record(employee2)

This Is The Record of tthe Employee:
NAME : Muhammad Azhar
AGE : 19
ID : ASD56
GENDDER : MALE
HIGGHT : 5.5
Sallery of Muhammad Azhar is 150000

## INHERITANCE

In [ ]:
class Managar(Emplyee):
  def __init__(self,name,age,id):
    super().__init__(name,age,id,0,0)

In [ ]:
manager = Managar("Azhar",15,"csc19f069")

Record Saved

In [ ]:
class Car:
 """A simple attempt to represent a car."""
 def __init__(self, make, model, year):
    self.make = make
    self.model = model
    self.year = year
    self.odometer_reading = 0

 def get_descriptive_name(self):
    long_name = f"{self.year} {self.make} {self.model}"
    return long_name.title()

 def read_odometer(self):
    print(f"This car has {self.odometer_reading} miles on it.")

 def update_odometer(self, mileage):
    if mileage >= self.odometer_reading:
      self.odometer_reading = mileage
    else:
      print("You can't roll back an odometer!")

 def increment_odometer(self, miles):
    self.odometer_reading += miles

In [ ]:
class ElectricCar(Car):
  def __init__(self, make, model, year):
    super().__init__(make, model, year)

In [ ]:
my_tesla = ElectricCar('tesla', 'model s', 2019)
print(my_tesla.get_descriptive_name())

2019 Tesla Model S

In [ ]:
class ElectricCar(Car):
  def __init__(self, make, model, year):
    super().__init__(make, model, year)
    self.battery_size = 75

  def describe_battery(self):
    print(f"This car has a {self.battery_size}-kWh battery...")

In [ ]:
my_tesla = ElectricCar('tesla', 'model s', 2019)
print(my_tesla.get_descriptive_name())
my_tesla.describe_battery()

2019 Tesla Model S
This car has a 75-kWh battery...

# Overriding Methods from the Parent Class

In [ ]:
class ElectricCar(Car):
  def __init__(self, make, model, year):
    super().__init__(make, model, year)
    self.battery_size = 75
  def describe_battery(self):
    print(f"This car has a {self.battery_size}-kWh battery..")
  def fill_gas_tank(self):
    print("This car doesn't need a gas tank!")

In [ ]:
my_tesla2 = ElectricCar('tesla', 'model s', 2019)
print(my_tesla2.get_descriptive_name())
my_tesla2.describe_battery()

2019 Tesla Model S
This car has a 75-kWh battery..

In [ ]:
my_tesla2.fill_gas_tank())

This car doesn't need a gas tank!

In [ ]:
# Class

## Try It Yourself

9-1. Restaurant: Make a class called Restaurant. The __init__() method for
Restaurant should store two attributes: a restaurant_name and a cuisine_type.
Make a method called describe_restaurant() that prints these two pieces of
information, and a method called open_restaurant() that prints a message indicating that the restaurant is open.
Make an instance called restaurant from your class. Print the two attributes individually, and then call both methods.

In [ ]:
class Restaurent():
  def __init__(self,)
  self.restaurant_name = "Javaed Nihari"
  self.cuisine_type ="Nihari"
  
  def describe_restaurent():
    print(f"{self.restaurant_name} is Currently Deliviring {cuisine_type}")

SyntaxError: ignored

9-2. Three Restaurants: Start with your class from Exercise 9-1. Create three
different instances from the class, and call describe_restaurant() for each
instance.